<?xml version="1.0"?>
<robot name="my_robot_v2">

<!--  <link name="base_footprint"/> -->
  <link name="base_link"/>

<!--  <joint name="base_footprint_to_base_link" type="fixed"> -->
<!--    <parent link="base_footprint"/> -->
<!--    <child link="base_link"/> -->
<!--    <origin xyz="0 0 0.085" rpy="0 0 0"/> -->
<!--  </joint> -->

  <link name="unilidar_imu_initial"/>
  <joint name="base_to_unilidar_bridge" type="fixed">
    <parent link="base_link"/>
    <child link="unilidar_imu_initial"/>
    <origin xyz="0.03 0.0 0.12" rpy="0 0 0"/>
  </joint>

  <link name="camera_link"/>
  <joint name="base_to_camera" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.115 0 0.085" rpy="0 0 0"/>
  </joint>

  <link name="d435i_camera_link"/>

  <joint name="camera_to_d435i" type="fixed">
    <parent link="camera_link"/>
    <child link="d435i_camera_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
